{% extends 'base.html' %}

{% block title %}
	<title>The Virtual Coach - Landing Page</title>
{% endblock %}

{% block content %}
    <div class="tvc-lp-welcome">
        <span>The Virtual&nbsp; Coach</span>
        <p>Step back and experience the ultimate hands-free workout. Our real-time motion tracking counts your reps automatically, so you can leave distractions behind and focus entirely on your next set.</p>
        <div class="tvc-lp-btn-container">
            <a href="{{ url_for('training') }}" class="tvc-btn" data-cursor="-inverse -text">
                Start Your Training
            </a>
        </div>
    </div>
{% endblock %}