{% extends 'base.html' %}

{% block title %}
	<title>The Virtual Coach - Landing Page</title>
{% endblock %}

{% block content %}
    <div class="tvc-lp-welcome">
        <span>The Virtual&nbsp; Coach</span>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <div class="tvc-lp-btn-container">
            <a href="{{ url_for('training') }}" class="tvc-btn" data-cursor="-inverse -text">
                Start Your Training
            </a>
        </div>
    </div>
{% endblock %}